---
---

@import "{{ site.theme }}";

.inner {
  max-width: 1200px;
}

#forkme_banner {
  display : none;
}

.header_wrap {
background-image:url("https://raw.githubusercontent.com/Strandgaard96/socialdataanalysis2020/master/docs/assets/images/logo.png");
}