---
---

@import "{{ site.theme }}";

.inner {
  max-width: 1200px;
}

#forkme_banner {
  display : none;
}

header{
   background: url(https://raw.githubusercontent.com/Strandgaard96/socialdataanalysis2020/master/docs/assets/images/logo.png);
}

.bk-root .bk {
    left: 0px !important;
}

#header_wrap .inner {
    padding: 150px 10px 50px 10px;
}